@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

:root {
  --placeholder_text: #646464;
  --nonLinearGradient_btn: #f7b314;
  --grey_bg: #f4f4f4;
  --light_btn: #ffecbe;
  --border_clr: #e0e0e0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
.main {
  background: #ffffff;
  border-bottom: 1px solid var(--border_clr);
  width: 100%;
  height: 72px;
  padding: 24px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 100%;
  background: #e4e4e4;
  margin-left: 236px;
  position: relative;
}
.inner_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  height: 72px;
  border-bottom: 1px solid var(--border_clr);
  font-weight: 600;
  font-size: 20px;
  background: #ffffff;
}
.content {
  padding: 24px;
  background: #e4e4e4;
}
.content_one {
  background: #ffffff;
  margin-right: 24px;
  width: 90%;
  height: 375px;
  padding: 30px 24px;
  font-weight: 600px;
  font-size: 16px;
}
.content_two {
  background: #ffffff;
  width: 60%;
  height: 375px;
  padding: 30px 24px;
  font-weight: 600px;
  font-size: 16px;
}
.attend_inn {
  background: #ffffff;
  position: relative;
}
.attend_inn {
  background: var(--grey_bg);
  width: 40%;
  border: none;
  margin: 24px;
  font-weight: 400;
  padding: 12px 12px 12px 36px;
  font-size: 13px;
  border-radius: 1px;
}
.dash_logo {
  color: #ffffff;
}
.slogo {
  position: absolute;
  color: var(--placeholder_text);
  top: 41%;
  left: 3%;
  z-index: 456;
}

/* login form css starts here */
.login_left {
  height: 100vh;
  width: 50%;
  background-image: url(../assets/images/img_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.login_right {
  height: 100vh;
  background: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login_label {
  color: var(--placeholder_text);
  font-size: 16px;
  margin: 11px 0;
}

.input_details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.login_form input {
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border-color: #e8e8e8;
  border-style: solid;
  padding-left: 20px;
}

.login_form input[type="text"] {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.login_btn {
  height: 50px;
  width: 347px;
  text-align: center;
  background: linear-gradient(to right, #ffdb6c, var(--nonLinearGradient_btn));
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 31px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form h2 {
  margin-top: 64px;
  margin-bottom: 39px;
  color: #1a202c;
  font-weight: 700;
  size: 25px;
  line-height: 42px;
  line-height: 116%;
}
.login_form .login_logo {
  width: 146px;
  height: 90px;
}
/* login form css ends here  */

/* side_bar css starts here  */
.side_bar {
  height: 100vh;
  width: 236px;
  background: #000;
  position: fixed;
  /* display: flex; */
  align-items: start;
  flex-direction: column;
}
.side_bar ul {
  padding: 10px;
}
.side_bar ul li {
  list-style: none;
}
.side_bar ul li a {
  padding: 20px 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  display: block;
}
.side_bar ul li a svg {
  margin-right: 10px;
  margin-top: -2px;
}
.side_bar ul li a svg path {
  fill: #fff;
}
.side_bar ul li a.active svg path {
  fill: var(--nonLinearGradient_btn);
}
.side_bar ul li a:hover svg path {
  fill: var(--nonLinearGradient_btn);
}

.side_bar ul li a:hover,
.side_bar ul li a.active {
  background: rgba(255, 255, 255, 0.16);
}
.side_bar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.logout_logo {
  cursor: pointer;
}

/* side_bar css ends here  */

/* table css starts here  */
.table_container {
  border: 1px solid var(--border_clr);
  background: #ffffff;
  margin-top: 20px;
}
.btn_logout {
  display: flex;
  height: 42px;
  width: 102px;
  font-size: 13px;
  color: #ec5050;
  border: 1px solid var(--border_clr);
  box-shadow: 0px 11px 18px -4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 120%;
  background: #ffffff;
  z-index: 2;
  right: 0;
  cursor: pointer;
}
.showit {
  visibility: visible;
}
.hideit {
  display: none;
}
#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}
.side_logo {
  padding: 30px 41px 100px 24px;
}
#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

.tab_container {
  margin: 24px;
  padding: 24px;
  background: #ffffff;
}
#tab-section .nav-link {
  border: 0 !important;
  border-radius: 0 !important;
  margin-right: 10px;
  margin-bottom: 24px;
}
#tab-section .nav-tabs .nav-link:hover {
  border: none;
  color: #000;
  background: var(--nonLinearGradient_btn);
  border-radius: 0%;
}

.nav-tabs .nav-link.active {
  border: none;
  color: #000;
  background: var(--nonLinearGradient_btn);
  border-radius: 0%;
}
.nav-item a {
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--placeholder_text);
  background: var(--grey_bg);
  border: none;
}
.nav-link {
  color: var(--placeholder_text);
  background: var(--grey_bg);
  font-size: 14px;
  font-weight: 400;
}
.nav {
  border: none;
  color: var(--placeholder_text);
}
.tab_content p {
  font-size: 16px;
  font-weight: 600;
}
.table_container {
  border: 1px solid var(--border_clr);
}

.emp_slogo {
  position: absolute;
  z-index: 5;
  top: 35%;
  left: 1%;
}
.tablebordered {
  margin-top: 16px;
  border: 1px solid var(--border_clr);
}
table thead tr {
  background: var(--border_clr);
  height: 44px;
}
table thead tr th {
  vertical-align: middle;
  border-bottom: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  color: #000;
}
table tbody tr td {
  vertical-align: middle;
  height: 44px;
  color: var(--placeholder_text);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
table tbody :hover {
  cursor: pointer;
  background: var(--grey_bg);
}

/* employee modal  */
.modal-title {
  font-family: 600 !important;
  font-size: 18px;
}
.model-body {
  display: flex;
  flex-direction: column;
}

.model-body .section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.model-body .section div {
  margin: 10px 0;
  width: 45%;
}

.model-body .section div {
  margin: 10px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.modal-footer p {
  width: 100%;
  text-align: start;
}

.modal-footer .dropdown {
  width: 100%;
}

.modal-footer .dropdown span {
  text-align: start;
}

/* .modal-footer button {
  width: 100%;
  background-color: var(--nonLinearGradient_btn);
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin-top: 16px;
} */
.pop_con {
  padding: 25px 25px 0px 25px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 433px;
}
.pop_content {
  background: #ffffff;
  display: flex;

  padding: 21px 21px 0px 21px;

  justify-content: space-between;
}
.pop_left,
.pop_right {
  width: 433px;
  padding: 25px;
  background: var(--grey_bg);
}
.foo {
  width: 433px;
  display: flex;
  justify-content: space-between;

  background: #ffffff;
  align-items: center;
}

.add_hot_lead_content {
  background: var(--grey_bg);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.light_p {
  font-size: 13px;
  font-weight: 400;
  color: var(--placeholder_text);
}

/* editemp pop styles  */
.change_emp .modal-footer {
  border-top: none;
}

.change_emp .modal-content {
  width: 433px;
  border-radius: 4px;
  border: none;
}
.change_emp .modal-header {
  border-bottom: none;
  padding: 25px 22px 33px 22px;
}
.bg_none {
  background: none;
  font-size: 5px;
}
.change_emp .modal-header h2 {
  font-size: 18px;
  font-weight: 600;
}
.change_emp .modal-body {
  padding: 0px 22px;
}
.change_emp .edit_inputs {
  display: flex;
}
.change_emp .p_light {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 13px;
  margin-top: 14px;
}
.input_feild {
  width: 144px;
  outline: none;
  border: none;
  background: var(--grey_bg);
  border-radius: 2px;
  width: 188px;
  height: 40px;
}
.input_feild::placeholder {
  color: var(--placeholder_text);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.input_feild {
  padding-left: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.numer_91 {
  font-size: 13px;
  line-height: 15px;
  color: #0e0e0e;
  background: #ffdb63;
  border-radius: 2px 0px 0px 2px;
  padding: 13px 10px;
}
.input_feild_number {
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  outline: none;
  width: 144px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding-left: 10px;
}

.input_feild_number::placeholder {
  color: var(--placeholder_text);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.edit_inputs_left {
  margin-right: 15px;
}
.edit_inputs_right {
  display: block;
}
.edit_inputs select {
  width: 188px;
  height: 40px;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-left: 12px;
}

.change_emp .modal-footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
option {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--placeholder_text);
  outline: none;
}

.choose_designation {
  width: 400px;
  height: 40px;
  outline: none;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-left: 12px;
}
.editemp_save_btn {
  background: var(--nonLinearGradient_btn);
  width: 400px;
  height: 40px;
  border-radius: 1px;
  border: none;
}
.e_del {
  width: 185px;
  height: 40px;
  background: #ed5454;
  border-radius: 1px;
  border: none;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.e_back {
  width: 185px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  background: var(--grey_bg);
  border-radius: 1px;
  border: none;
}
.display_emp .modal-content {
  width: 433px;
  border-radius: 4px;

  border: none;
}
.display_emp .modal-header {
  border-bottom: none;
  padding: 25px 22px 0px 22px;
}
.display_emp .modal-header h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.display_emp .modal-body .container {
  background: var(--grey_bg);
  padding: 9px;
}
.display_emp .modal-body .p_light_d {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #636363;
}
.display_emp .modal-body .p_light_c {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #0a0a0a;
}
.display_emp .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
}
.display_emp .modal-footer .del_btn {
  background: #ffe8e8;
  color: #ec5050;
  border: none;
  width: 47%;
  margin-right: 10px;
  height: 40px;
}
.display_emp .modal-footer .edit_btn {
  background: var(--nonLinearGradient_btn);
  color: #000000;
  border: none;
  width: 47%;
  height: 40px;
}
.addemp_pop_up .modal-content {
  width: 444px;
  border-radius: 4px;
  border: none;
}
.addemp_pop_up .modal-header {
  border-bottom: none;
  padding: 25px 22px 0px 22px;
}
.addemp_pop_up .modal-header h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
.addemp_pop_up .modal-body .p_light_d {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.addemp_pop_up .modal-body .container {
  padding: 4px;
}
.addemp_pop_up .modal-body .container .row .add_emp_input {
  width: 188px;
  height: 40px;
  background: var(--grey_bg);
  border-radius: 2px;
  margin-top: 10px;
  padding: 12px;
  border: none;
  outline: none;
  margin-bottom: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addemp_pop_up .modal-body .container .row .input_feild_number {
  padding: 5px;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  outline: none;
  width: 144px;
  height: 40px;
}
.addemp_pop_up .modal-body .container .row .input_feild_number::placeholder {
  color: var(--placeholder_text);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.addemp_pop_up select {
  width: 188px;
  height: 40px;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding-left: 12px;
}
.addemp_pop_up option {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--placeholder_text);
  outline: none;
}
.addemp_pop_up .modal-footer {
  border-top: none;
  padding: 0px 16px;
}
.addemp_pop_up .modal-footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #0a0a0a;
  margin-top: 6px;
}
.addemp_pop_up .modal-body {
  padding-bottom: 0px;
}
.addemp_pop_up .editemp_save_btn {
  width: 100%;
  margin-bottom: 22px;
}
.addemp_pop_up .modal-footer .need_width {
  width: 100%;
  height: 40px;
}
/*  designation tab section show designation pop up  */
.displaydesignation .modal-content {
  width: 433px;
  background: #ffffff;
  border-radius: 4px;
  padding: 25px 22px;
  border: none;
}
.displaydesignation .modal-header {
  padding: 0;
  border-bottom: none;
}
.displaydesignation .modal-header p {
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.displaydesignation .modal-body {
  background: var(--grey_bg);
  border-radius: 2px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.displaydesignation .modal-body p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #636363;
}
.displaydesignation .modal-body h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0a0a0a;
}
.displaydesignation .modal-footer {
  display: flex;
  border-top: none;
  padding: 0;
}
.displaydesignation .modal-footer .del_btn {
  background: #ffe8e8;
  color: #ec5050;
  border: none;
  width: 188px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.displaydesignation .modal-footer .edit_btn {
  background: var(--nonLinearGradient_btn);
  color: #000000;
  border: none;
  width: 188px;
  margin: 0;
  padding: 0;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

/* edit designation pop up  */
.editdesignation .modal-body {
  background: white;
  padding: 0;
  margin: 0;
  margin-top: 33px;
}
.editdesignation .modal-body h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.editdesignation .modal-body .input_feild_designation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 388px;
  height: 40px;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  padding: 12px;
  margin: 10px 0 16px 0;
  outline: none;
}
.save_new_designation_btn {
  width: 389px;
  height: 40px;
  background: var(--nonLinearGradient_btn);
  border-radius: 1px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #0a0a0a;
}
.add_designation .modal-content {
  width: 433px;
  background: #ffffff;
  border-radius: 4px;
  padding: 25px 22px;
  border: none;
}
.add_designation .modal-header {
  border-bottom: none;
}
.add_designation .modal-content .modal-body {
  background: none;
  border-radius: 2px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.add_designation .modal-body .input_feild_designation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 388px;
  height: 40px;
  background: var(--grey_bg);
  border-radius: 2px;
  border: none;
  padding: 12px;
  margin: 10px 0 16px 0;
  outline: none;
}
/*  designation tab section show designation pop up  */

/* search input styles  */
.emp_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.emp_input_box {
  height: 38px;
  width: 70%;
  padding-left: 38px;
  background: var(--grey_bg);
  border-radius: 1px;
  border: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.download_btn {
  background: var(--light_btn);
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  height: 38px;
}
.add_emp_btn {
  background: linear-gradient(
    90.11deg,
    #ffdb6c -9.01%,
    var(--nonLinearGradient_btn) 127.45%
  );
  border-radius: 1px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  height: 38px;
}
.emp_input .emp_slogo {
  position: absolute;
  top: 30%;
  left: 14px;
}
.loading {
  height: 20px;
  width: 20px;
}
.nav .nav-item a {
  background: var(--grey_bg);
}
@media screen and (max-width: 1024px) {
  .emp_input_box {
    width: 54%;
  }
}
